{% extends "base.html" %}

{% block head %}
    <style>
        body {
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


{% block content %}
    <div class="container-md">
        <div class="profile-page tx-13">

            <div class="row profile-body justify-content-md-center">
                <!-- middle wrapper start -->
                <div id="list-post" class="col-md-6 middle-wrapper">

                    <div hx-get="{{ url_for('get_all_posts', user_id=0, page=1) }}"
                         hx-trigger="revealed"
                         hx-swap="outerHTML">
                        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
                    </div>

                </div>
                <!-- middle wrapper end -->
            </div>
        </div>
    </div>

    {% include 'copied-modal.html' %}

    <script src="/static/js/myScript.js"></script>
    <script>
        animateHeart('list-post');
        copyLinkToClipBoard('list-post');
    </script>

{% endblock %}