{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            margin-top: 150px;
        }
    </style>
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
    <div id="post-header" class="fixed-top container-md" style="top: 70px;">
        <div class="profile-page tx-13">
            <div class="row profile-body justify-content-md-center">
                <div class="col-md-8 col-xl-6">
                    <div class="card rounded mt-2 mb-4">
                        <div class="card-header p-2">
                            <ul class="list-unstyled d-flex mb-0 pe-xl-5">
                                <li>
                                    <a onclick="window.history.back(); return false;"
                                       class="btn btn-link btn-rounded text-dark">
                                        <i class="fa-solid fa-arrow-left fa-lg"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-top bg-light mt-3" style="padding-top: 115px; z-index: 1000">
    </div>
{% endblock %}

{% block content %}
    <div class="container-md">
        <div class="profile-page tx-13">
            <div class="row profile-body justify-content-md-center">

                <!-- middle wrapper start -->
                <div class="col-md-8 col-xl-6 middle-wrapper">
                    <div class="col-md-12 grid-margin">


                        <div id="post" class="card rounded">
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs rounded-circle"
                                             src="{{ post.user.email | gravatar }}" alt="">
                                        <div class="ms-2 d-flex">
                                            <p class="fw-bold mb-0">{{ post.user.name }}</p>
                                            <p class="tx-11 ms-2 mb-0 text-muted">{{ display_time(post.date) }}</p>
                                        </div>

                                    </div>

                                    {% if post.user.id == current_user.id %}
                                        <div class="dropdown">
                                            <a
                                                    class="text-reset me-3 dropdown-toggle hidden-arrow"
                                                    type="button"
                                                    id="dropdownMenuButton"
                                                    data-mdb-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <i class="fa-solid fa-ellipsis"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end"
                                                aria-labelledby="dropdownMenuButton">
                                                <li>
                                                    <a class="dropdown-item text-danger"
                                                       href="{{ url_for('delete_post', post_id=post.id) }}">
                                                        <span class="fa-solid fa-trash"></span>
                                                        Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="mb-3">{{ post.title }}</h4>
                                <p class="mb-3 tx-14">{{ post.content | safe }}</p>
                            </div>
                            <div class="card-footer">
                                <ul class="list-unstyled d-flex justify-content-between mb-0 pe-xl-5">
                                    <li>
                                        {% if current_user.is_authenticated %}
                                            {% if current_user.has_liked_post(post.id) %}
                                                <a type="button"
                                                   hx-get="{{ url_for('like_post', id=post.id, action='unliked') }}"
                                                   class="fa-solid fa-heart fa-xl text-dark text-decoration-none"
                                                   data-action="unliked"
                                                ></a>
                                            {% else %}
                                                <a type="button"
                                                   hx-get="{{ url_for('like_post', id=post.id, action='like') }}"
                                                   class="fa-regular fa-heart fa-xl text-dark text-decoration-none"
                                                   data-action="like"
                                                ></a>
                                            {% endif %}
                                        {% else %}
                                            <a type="button"
                                               href="{{ url_for('login') }}"
                                               class="fa-regular fa-heart fa-xl text-dark text-decoration-none"
                                            ></a>
                                        {% endif %}
                                        <span class="mt-3 p-2">{{ post.post_likes.count() }}</span>
                                    </li>
                                    <li>
                                        <a type="button"
                                           href="#comment"
                                           class="fa-regular fa-comment fa-xl text-dark text-decoration-none"
                                        ></a>
                                        <span class="mt-3 p-2">{{ post.comments.count() }}</span>
                                    </li>
                                    <li>
                                        <a type="button"
                                           href="javascript:"
                                           class="fa-solid fa-link fa-xl text-dark text-decoration-none"
                                           data-bs-toggle="modal"
                                           data-bs-target="#copiedModal"
                                           data-action="copy-link"
                                           data-link="{{ url_for('get_post', post_id=post.id) }}"
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="comments" class="text-dark card mt-2">
                            <div id="comment" class="position-absolute" style="top: -145px;">

                            </div>
                            <!-- Input -->
                            <div class="d-flex flex-column mt-3 mb-3">
                                <form hx-post="{{ url_for('send_comment', post_id=post.id) }}"
                                      hx-target="#comments"
                                      hx-swap="innerHTML"
                                      novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="d-flex">
                                        {% if current_user.is_authenticated %}
                                            <img src="{{ current_user.email | gravatar }}"
                                                 class="border img-xs rounded-circle m-2"
                                                 alt="{{ current_user.name }}">
                                        {% else %}
                                            <img src="{{ "anonymous" | gravatar }}"
                                                 class="border img-xs rounded-circle m-2"
                                                 alt="anonymous">
                                        {% endif %}

                                        <div class="form-outline w-100 me-4">
                                            {{ form.content(class_='form-control', autocomplete="off") }}
                                            {{ form.content.label(class_='form-label') }}
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row-reverse mt-2 me-4">
                                        {% if current_user.is_authenticated %}
                                            {{ form.submit(class_='btn btn-primary btn-rounded') }}
                                        {% else %}
                                            <a class="btn btn-primary btn-rounded"
                                               href="{{ url_for('login') }}">Send</a>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                            <!-- End Input -->
                            {% for comment in post.comments %}
                                <div class="d-flex mt-3">
                                    <img class="border img-xs rounded-circle m-2"
                                         src="{{ comment.user.email | gravatar }}" alt="{{ comment.user.name }}">
                                    <div class="card w-100 bg-light me-4">
                                        <div class="card-body p-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 fw-bold">{{ comment.user.name }}</p>
                                                    <p class="tx-11 ms-2 mb-0 text-muted">{{ display_time(comment.date) }}</p>
                                                </div>
                                            </div>
                                            <p>{{ comment.content }}</p>

                                            <ul class="list-unstyled d-flex mb-0 pe-xl-5">
                                                <li>
                                                    {% if current_user.is_authenticated %}
                                                        <a type="button"
                                                           hx-get="{{ url_for('like_comment', id=comment.id) }}"
                                                           data-id='{{ comment.id }}'
                                                                {% if current_user.has_liked_comment(comment.id) %}
                                                           class="fa-solid fa-heart fa-xl text-dark text-decoration-none"
                                                           data-action="unliked"
                                                                {% else %}
                                                           class="fa-regular fa-heart fa-xl text-dark text-decoration-none"
                                                           data-action="like"
                                                                {% endif %}
                                                        ></a>
                                                    {% else %}
                                                        <a type="button"
                                                           href="{{ url_for('login') }}"
                                                           class="fa-regular fa-heart fa-lg text-dark text-decoration-none"
                                                        ></a>
                                                    {% endif %}
                                                    <span class="mt-3 p-2">{{ comment.likes.count() }}</span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>

                    </div>
                </div>
            </div>
            <!-- middle wrapper end -->
        </div>
    </div>
    {% include 'copied-modal.html' %}
{% endblock %}

{% block script %}
    <script src="/static/js/myScript.js"></script>
    <script>
        animateHeart('post');
        animateHeart('comments');
        copyLinkToClipBoard('post');
    </script>
{% endblock %}
